{% extends 'books/base.html' %}

{% block header %}
<h1><a href="/">My Authors</a></h1>
{% if user.is_authenticated %}
    <a href="{% url 'author_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
{% endif %}
{% endblock %}

{% block content %}
    {% for obj in objs %}
        <div class="post">
            <div class="date">
                {{ obj.birth_date }}
            </div>
            <h1><a href="{% url 'author_detail' pk=obj.pk %}">{{ obj.name }}</a></h1>
            <p>{{ obj.text|linebreaksbr }}</p>
        </div>
    {% endfor %}
{% endblock %}