{% extends 'shop/base.html' %}
{% load static %}
{% block title %}{{form_title}}{% endblock %}
{% load widget_tweaks %}
{% block content %}

<script type="text/javascript">
var empty_form = "";
var empty_row = "";
var table_rows = 0;
 
function add_row()
{
	var max = parseInt(document.getElementById("id_form-TOTAL_FORMS").value);
	var xform = 'form-'+max;
	max++;
	document.getElementById("id_form-TOTAL_FORMS").setAttribute('value', ''+max);
	append = empty_row.split(empty_form).join(xform);  // replace(empty_form, xform) don't replace all
	$("#sheet-"+empty_form).after(append);
}
function hide_row(idx)
{
	idx_val = parseInt(idx.substr(5));
	append = '<input type="hidden" name="' + idx + '-DELETE" value="1" id="id_' + idx + '-DELETE">';
	$("#sheet-"+idx).before(append);
	$("#sheet-"+idx).hide();
}
</script>
<section>
<form class="form" role="form" method="post">
	{% csrf_token %}
		<div class="col-lg-6">
			<div class="card card-underline">
				<div class="card-head">
					<header>{{form_title}}</header>
				</div>

				<div class="card-body">
					<div class="row">
						<div class="col-lg-6">
								<div class="row">
									<div id="quick_submit" class="form">
									
										{% for field in form %}
										    {{ field | add_class:'form-control'}} 
											{% if field.help_text %}
												<small style="color: grey">{{ field.help_text|safe }}</small>
											{% endif %}
											{{ field.errors }}
										{% endfor %}
										{% if not formset %}
										<p class="stick-bottom-right"><input type="submit" value="Save" class="btn btn-primary"/></p>
										{% endif %}
										{{ form.non_field_errors }}		
									</div>
								</div>
						</div>
					</div>
				</div>
			</div>
		</div>

{% if formset %}
<div class="contain-lg" style="max-width: 1400px;">
	<div class="row">
		<div class="col-lg-12">
			<div class="card card-underline">
				<div class="card-head">
					<header>{{formset_title}}</header>
				</div>
				<div class="card-body">
<!--
					<div class="table-responsive">
					    {{ formset.management_form }}
					    <div style="margin-bottom: 25px;">
						<table id="datatable1" class="table order-column hover" >
							{% for formx in formset %}
					          {% if formx.prefix == 'form-0' %}
								<thead>
									<tr>
									    {% for field in formx %}
								        {% if field.label != 'Id' %}
								        <th>{{ field.label }}</th>
								        {% endif %}
								        {% endfor %}
									</tr>
								</thead>
							  {% endif %}
								<tbody>
							      
							      <tr id="sheet-{{formx.prefix}}">
							      	{% for field in formx %}
							      	{% if field.label != 'Id' %}
							        <td>{{ formx.id }} {{ field }} </td>
							        {% endif %}
							      	{% endfor %}
							      </tr>
							{% endfor %}
							</tbody>
						</table>
						</div>
						<p class="stick-bottom-right"><a href="#" class="btn btn-info" role="button" onclick="add_row(); return false;">+</a>
					    <input type="submit" value="Save" class="btn btn-primary"/></p>
-->
					  {{ formset.management_form }}
					  <table class="table">
					    {% for formx in formset %}
					      {% if formx.prefix == 'form-0' %}
						    <thead>
						      <tr>
						        {% for field in formx %}
						        {% if field.label != 'Id' %}
						        <th>{{ field.label }}</th>
						        {% endif %}
						        {% endfor %}
						      </tr>
						    </thead>
					      {% endif %}
					      <tbody>
					      {{ formx.id }}
					      <tr id="sheet-{{formx.prefix}}">
					      	{% for field in formx %}
					      	{% if field.label != 'Id' %}
					        <td> {{ field }} </td>
					        {% endif %}
					      	{% endfor %}
					      </tr>
					    {% endfor %}
					    </tbody>
                      </table>
                      <p class="stick-bottom-right"><a href="#" class="btn btn-info" role="button" onclick="add_row(); return false;">+</a>
					  <input type="submit" value="Save" class="btn btn-primary"/></p>
					  {% for error in formset.errors %}
					        {{ error }}<br/>
					  {% endfor %}
					  {{ formset.non_form_errors }}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endif %}
</form>
</section><script type="text/javascript">
var customer_id=-1;
var supplier_id=-1;

$(document).ready(function(){
	table_rows = parseInt(document.getElementById("id_form-TOTAL_FORMS").value);
	empty_form = "form-"+(table_rows-1);
	empty_row = document.getElementById("sheet-"+empty_form).outerHTML;
	
	customer_id = $('select[name=customer]').val();
	supplier_id = $('select[name=supplier]').val();
	
	function change_portfolio_products()
	{
		if(supplier_id.length > 0 && customer_id.length > -1)
		{
			//request_url = '/portfolios/get-portfolio/' + customer_id + '/' + supplier_id + '/';
			//$.ajax({
			//	url: request_url,
			//	success: function(data){
			//		var count = data.length;
			//		
			//	}
			//})
		}
	}
	
	$('select').change(function(){
		var combo = $(this);
		if(combo[0].id.startsWith('id_form-') && combo[0].id.endsWith('-product'))
		{
			var form_id = parseInt(combo[0].id.substr(8));
			var prod_id = $(this).val();
			var request_url = '/shop/get_product_details/' + prod_id + '/';
			$.ajax({
				url: request_url,
				success: function(data){
					$('#id_form-'+form_id+'-price').val(data[0].fields.price);
					$('#id_form-'+form_id+'-um').val(data[0].fields.um);
				}
			})
		}
	})
	
	$('select[name=customer]').change(function(){
		customer_id = $(this).val();
		request_url = '/users/get-customers/' + customer_id + '/';
		$.ajax({
			url: request_url,
			success: function(data){
				$('#id_first_name').val(data[0].fields.first_name);
				$('#id_last_name').val(data[0].fields.last_name);
				$('#id_email').val(data[0].fields.email);
				$('#id_address').val(data[0].fields.address);
				$('#id_phone').val(data[0].fields.phone);
				$('.customer_selected_holder').val(data[0].pk);
				sessionStorage.setItem("customer_selected", ""+data[0].pk);
			}
		})
		change_portfolio_products();
	})
	
	$('select[name=supplier]').change(function(){
		supplier_id = $(this).val();
		change_portfolio_products();
	})
});
</script>
{% endblock %}