{% extends 'shop/base.html' %}
{% load static %}
{% load getattribute %}
{% block title %}{{title}}{% endblock %}
{% block content %}
<section>
<div class="contain-lg">
	<div class="row">
		<div class="col-lg-12">
			<div class="card card-underline">
				<div class="card-head">
					<header>{{title}}</header>
					<a title="Add new" style="float:right;" href="{% url link_new %}" class="btn btn-floating-action btn-primary"><span class="glyphicon glyphicon-plus"></span></a>
				</div>
				<div class="card-body">
				{% if objs %}
				    {% with "0" as header_printed %}
					<div class="table-responsive">
						<table id="datatable1" class="table order-column hover">
								{% for obj in objs %}
								    {% if header_printed == '0' %}
							<thead>
								<tr>
								    {% for field in fields %}								      
									<th>{% get_verbose_field_name obj field %}</th>
									{% endfor %}
									<th></th>
								</tr>
							</thead>
							<tbody>
							        {% with "1" as header_printed %}
							        {% endwith %}
								    {% endif %}
									<tr class="gradeX">
										{% for field in fields %}								      
										<td>{{ obj|getattribute:field }}</td>
										{% endfor %}
										<td class="text-center">
										    <a title="Edit" href="{% url link_edit obj.id %}" class="btn btn-floating-action btn-primary"><span class="glyphicon glyphicon-pencil"></i></a>
											<a title="Delete" href="{% url link_delete obj.id %}" class="btn btn-floating-action btn-danger" onclick="return confirm('Are you sure you want to delete line?')"><i class="md md-delete"></i> </a>
										</td>
									</tr>
								{% endfor %}
								{% endwith %}
							</tbody>
						</table>
					</div>
				{% else %}
					<h1>{{ no_objects_msg }}</h1>
				{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>
</section>
{% endblock %}